<div class="search_header">
  <h1 class="search_title">Support Requests</h1>
  <%= form_tag(requests_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Requests" %>
  <%= submit_tag "Search" %>
  <% end %>
</div>
<% if !@requests.present? %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% else %>
  <table class="list_table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Message</th>
      <th>Actions</th>
    </tr>
  <% @requests.each do |p| %>
    <tr class="<%= cycle('even', 'odd') -%>">
      <td><%= p.name %></td>
      <td><%= mail_to p.email %></td>
      <td><%= p.department %></td>
      <td class="message"><%= link_to p.message, request_path(p) %></td>
      <td><%= button_to 'Edit', edit_request_path(p),
                              method: :get%>
      <%= button_to 'Delete', request_path(p),
                              method: :delete,
                              data: {confirm: 'Are you sure?'}%>
      <%= button_to p.done ? 'Not Done' : 'Done',
                              update_done_path(p),
                              method: :patch%></td>
    </tr>
  <% end %>
  </table>
  <div class="paginator"><%= paginate @requests %></div>
<% end %>
