<h1>Support Request</h1>
<p>NAME: <%= @request.name %></p>
<p>Email: <%= @request.email %></p>
<p>Department: <%= @request.department %></p>
<p>Message:<br><%= @request.message %></p>
<br>
<%= button_to 'Edit', edit_request_path(@request),
                        method: :get%>
<%= button_to 'Delete', request_path(@request),
                        method: :delete,
                        data: {confirm: 'Are you sure?'}%>
